body{
    /* background-image: url('cimages/background_image.jpeg');
    background-size: cover; */
    font-family: 'Courier New', Courier, monospace;
    background-color: #e1d9d6;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 80px;
    color: #282A2F /*font color called JET not black */
}
a{
    text-decoration: none; 
}
a:hover{
    color:aliceblue;
}
nav{
    border: 1.5px #282A2F solid; /*font color called JET not black */
    display: grid;
    grid-template-columns: auto max-content;
    background-color: #c9c8c8;
}
nav a{
    color:#282A2F;
    font-weight: bold;
}
nav img{
    border-radius: 25px;
}
.logo{
    width: 50px;
    height: 50px;
    grid-column: 1;
}
.nav_links{
    border: 1.5px #282A2F solid;
    grid-column: 2;
    text-align: right;
    align-items:center;
    align-self: center;
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
/* .home {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #000; 

}  */
.name{
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    text-align: center;
}
.home_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home_info p {
    font-family: 'Courier New', Courier, monospace;
    grid-column: 2;
    grid-row: 1;
    /* padding-right: 100px; */
    padding: 0 10%;
}

.home_info img {
    /* padding-left: 100px; */
    grid-column: 1;
    justify-self: center;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
h2,h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.courses fieldset{
    padding: 45px;
    background-color: rgb(250, 242, 232);
}
#uvmee {
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* //border-radius: 20px; */
}
h1{
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    text-align: center;
}
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
    text-align: left;
}
ul li::marker {
    content: '╶ ';
    font-size: 15px;
  }
  
.image-button-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.projects{
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 15px;
    background-color: rgb(250, 242, 232);
}
.resume{
    width: 750px;
    height: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; 
    display: block;
}

footer{
    text-align: center;
    color:#282A2F;

}
footer a{
    color: #5e65b1;
}

/*part due on 4/28*/
.image-container {
    text-align: left;
    margin-top: 50px;
    grid-column: 2;
    grid-row: 1;
    padding-top: 50px;
}

.zoom-image {
    transition: transform 0.2s ease-in-out;
}
.zoomed {
    transform: scale(1.5);
}
figcaption{
    color: #4b6935;
    text-align: center;
    /* padding-right: 10px; */
}

.projects {
    display: none;
}
.slideshow-arrow {
    cursor: pointer;
    position: absolute;
    top: 40%;
    border-radius: 75%;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(93, 176, 108, 0.329);
    border: 1px solid  #282A2F;
}

.prev {
    left: 220px;
}

.next {
    right: 250px;
}
.download{
    text-align: center;
    color:#4b6935;
    text-decoration: underline;

}

.download_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Reset default button styles */
button {
    border: 2px solid rgb(37, 49, 39);;
    background-color: #b8d7b1;
    color: rgb(37, 49, 39);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #a3c6a3;
}

.confetti_container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
        font-size: 16px;
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main{
        width: 80%;
        margin: 0 auto;
        max-width: 800px;
        font-size: 18px;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 500px;
        font-size: 20px;
    }
}

