body{
    background-color:thistle;
    text-align: center;
    color:rgb(38, 3, 54);
    font-family:Garamond;
}

a{
    color:rgb(169, 61, 126);
    text-decoration: none; 
}

a:hover{
    color:aliceblue;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 45%;

}
figure{
    text-align: center;
    font-style: italic;
}

.sign{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .tables table.table2 tr:nth-child(odd) td{
    background-color:rgb(242, 237, 242);
}

  .table2 th{
    background-color:rgb(169, 61, 126);
  }

  .form-questions {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border: 1.5px solid rgb(84, 83, 83);
}

button{
    background-color:rgb(150, 67, 117); 
    color:aliceblue;
}
input.information {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }
  

  