body{
    background-color:thistle;
    text-align: center;
    color:rgb(38, 3, 54);
    font-family:Garamond;
}

a{
    color:rgb(169, 61, 126);
    text-decoration: none; 
}

a:hover{
    color:aliceblue;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 45%;

}
figure{
    text-align: center;
    font-style: italic;
}

.sign{
    text-align: center;
}
.hello{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .tables table.table2 tr:nth-child(odd) td{
    background-color:rgb(242, 237, 242);
}

  .table2 th{
    background-color:rgb(169, 61, 126);
  }

  .form-questions {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border: 1.5px solid rgb(84, 83, 83);
}

button{
    background-color:rgb(150, 67, 117); 
    color:aliceblue;
}
input.information {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  .tabular{
    margin: auto;
    width: 35%;
    padding: 10px;
  }
.script{
    text-align: center;
}
.datetime{
    text-align: center;
    font-size: 1.5rem;
}
.user-input{
    text-align: center;
}
.favorite-number{
    text-align: center;
}
.monkey_buttons button{
    padding:5px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px; 
    height: 45px;
    
}
.monkey_img {
    margin-right:auto;
    margin-left:auto;
    align-content: center;
}
.hide {
    display:none;
    
}
.monkey_buttons{
    width: 50%;
    margin: 0 auto;
}
.myButtons{
    text-align: center;
}
main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
        font-size: 16px;
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main{
        width: 80%;
        margin: 0 auto;
        max-width: 800px;
        font-size: 18px;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 500px;
        font-size: 20px;
    }
}
.about_header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about_header img{
    max-width: 100px; 
    margin: 0 10px;
}
.headers {
    margin: 0; 
}
.slogan{
    font-style: italic;
    text-align: center;
}
.contact{
    text-align: center; 
    font-style: italic;
    border: 4px dotted #82988b; 
    padding: 25px;
    margin-right: 30%;
    margin-left: 30%; 
}